/* /* .str-chat-channel-list {
  height: auto !important;
  width: 100% !important;
}

.str-chat__channel-list-messenger {
  min-width:200px !important;
} */


.str-chat-channel-list {
  height: auto !important;
  margin-bottom: 8px;
  width: 100% !important;
}

.str-chat-channel {
  max-height: calc(100vh - 64px);
}


.str-chat__load-more-button {
  display: none;
}

.str-chat__input-footer {
  display: none;
}

.str-chat__date-separator {
  margin: 16px 24px;
}

.str-chat__message-notification {
  background: var(--primary-color);
  cursor: pointer;
}

@import url(chatStyles/channelContainer.css);
@import url(chatStyles/channelHeader.css);
@import url(chatStyles/channelSearch.css);
@import url(chatStyles/createChannel.css);
@import url(chatStyles/customMessageInput.css);
@import url(chatStyles/customMessageLayout.css);
@import url(chatStyles/customTypingIndicator.css);
@import url(chatStyles/editChannel.css);
@import url(chatStyles/emptyChannel.css);
@import url(chatStyles/pinnedMessageList.css);
@import url(chatStyles/threadMessageInput.css);
@import url(chatStyles/userList.css);