/* /* .str-chat-channel-list {
  height: auto !important;
  width: 100% !important;
}

.str-chat__channel-list-messenger {
  min-width:200px !important;
} */


.str-chat-channel-list {
  height: auto !important;
  margin-bottom: 8px;
  width: 100% !important;
}

.str-chat-channel {
  height: 100%;
}

.str-chat__load-more-button {
  display: none;
}

.str-chat__input-footer {
  display: none;
}

.str-chat__date-separator {
  margin: 16px 24px;
}

.str-chat__message-notification {
  background: var(--primary-color);
  cursor: pointer;
}

